p{
    text-align: center;
    color: blue;
    border: coral;
    background-color: floralwhite;
    font-size: x-large;
}
h1{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: darkred;
    text-shadow: darkturquoise;
}